@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

p {
    font-size: 2rem;
}

.info-msg { display: none }

.show { display: block }

.location,
.temperature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.location-timezone {
    font-size: 6rem;
    text-transform: uppercase;
}

.location-timezone,
.icon {
    margin-bottom: 30px;
}

.temperature { flex-direction: column }

.degree-section {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 3rem;
}

.temperature-degree {
    font-size: 10rem;
}

.temperature-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*------------------------------------------------------------------------*/
/*------------------------------TEMPS BACKGROUNDs-------------------------*/
/*------------------------------------------------------------------------*/

.hot {
    background: linear-gradient(rgb(163, 74, 47), rgb(143, 48, 102));
}

.moderate {
    background: linear-gradient(rgb(161, 163, 47), rgb(48, 143, 104));
}

.cold {
    background: linear-gradient(rgb(47, 109, 163), rgb(48, 143, 139));
}